/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*Pre-styles*/
p {
  text-align: justify;
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow: none;
}
.noventa  {
  width: 90%;
  margin: auto;
  height: 100%;
}
button {
    background-color: #194052;
    background-color: #98c717;
    border: solid 1px gray;
    border-radius: 40px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}
button:hover {
  transform: scale(1.05);
}
a {
  text-decoration: none;
}
   /*Start Header*/

#banner {
  width: 100%;
  background-color: #194052;
  color: white;
  height: 41px;
  font-size: 14px;
}
@media only screen and (max-width: 500px) {
  #banner p {
    display: none;
  }
}
#banner .noventa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 500px) {
  #banner .noventa {
    justify-content: center;
  }
}
#banner p {
  width: 35%;
  margin: auto 0;
}
#banner ul {
  width: 40%;
  margin: auto 0;
}
#redes_horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#redes_horizontal li {
  display: inline-block;
  margin: 0 10px;
}
#redes_horizontal a {
  color: white;
}
#logo_contacto {
  display: flex;
  justify-content: space-between;
  max-height: 120px;
}
#logo_contacto .noventa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 120px;
}
#logo {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}
#logo img {
  width: 40%;
  margin: auto 0;
  margin-left: 10px;
}
.capsula {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 120px;
}
#correo {
  display: flex;
}
#telefono {
  display: flex;
  margin-left: 40px;
}
.texto_contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#texto_contacto a {
  color: black;
}
.icon_contacto {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #183F51;
}
.icon_contacto p {
  font-size: 40px;
}
#boton_cta_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
@media only screen and (max-width: 500px) {
  #logo_contacto {
    display: none;
  }
}
#capsula_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#nav_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
  border: solid 1px;
  border-color: gray;
  text-align: center;
  display: inline-block;
}
#nav_header ul {
  padding: 0;
}
#nav_header li {
  display: inline-block;
  margin: 0 10px;
}
#nav_header a {
  color: black;
}
#nav_header {
  box-shadow: 2px 2px 5px #999; /*cambiar intensidad de sombra*/
}
nav {
  display: none;
}
@media only screen and (max-width: 500px) {
  #nav_header {
    display: none;
  }
  #nav_header ul {
    display: none;
  }
  #capsula_nav {
    display: none;
  }
  nav {
    display: flex;
  }
/*hamburguesa comienzo*/
#menu_horizontal {
  display: none;
}

nav ul{
  display: none;
}
input:checked  ~ ul{
  display:block;
}
input {
  display: none;
}
label {
  box-sizing: border-box;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  margin-right: 30px;
  margin-top: 30px;
}
#barras {
  width: 30px;
}
/* Estilo del boton cuando el menú está expandido*/
input:checked ~ label {
}
nav ul{
  margin-top:0;
  padding: 0;
  width: 150px;
}
nav li {
  display: block;
  /*background: lightgrey;*/
  color: white;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid grey;
}
nav a {
  color: white;
}
}
/*hamburguesa comienzo*/


#main  {
  /*background: rgb(152,199,23);
  background: linear-gradient(148deg, rgba(152,199,23,1) 6%, rgba(0,130,112,1) 100%);*/
  background-color: #194052;
  background-image: url("../img/Fondo_triangulos1.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  margin-top: -20px;
}
@media only screen and (max-width: 500px) {
  #main  {
    background-color: #194052;
    background-image: none;
    margin-top: 0;
  }
}
#main_b2b  {
  /*background: rgb(152,199,23);
  background: linear-gradient(148deg, rgba(152,199,23,1) 6%, rgba(0,130,112,1) 100%);*/
  background-color: #194052;
  background-image: url("../img/main_fondo_b2b.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: -20px;
}
@media only screen and (max-width: 500px) {
  #main_b2b  {
    margin-top: 0;
  }
}
#main_software {
  background-color: #194052;
  background-image: url("../img/main_fondo_software.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: -20px;
}
@media only screen and (max-width: 500px) {
  #main_software  {
    margin-top: 0;
  }
}
#main_hardware {
  background-color: #194052;
  background-image: url("../img/main_fondo_hardware.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: -20px;
}
@media only screen and (max-width: 500px) {
  #main_hardware  {
    margin-top: 0;
  }
}
#main_oandg {
  background-color: #194052;
  background-image: url("../img/main_fondo_oilandgas.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: -20px;
}
@media only screen and (max-width: 500px) {
  #main_oandg  {
    margin-top: 0;
  }
}
#main_aliados {
  background-color: #194052;
  background-image: url("../img/main_fondo_asociados.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: -20px;
}
@media only screen and (max-width: 500px) {
  #main_aliados  {
    margin-top: 0;
  }
}
#main_otrosservicios {
  background-color: #194052;
  background-image: url("../img/main_fondo_servicios.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: -20px;
}
@media only screen and (max-width: 500px) {
  #main_otrosservicios {
    margin-top: 0;
  }
}
#main_contacto {
  background-color: #194052;
  background-image: url("../img/main_fondo_contacto.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: -20px;
}
@media only screen and (max-width: 500px) {
  #main_contacto  {
    margin-top: 0;
  }
}
#capsula_main {
    display: flex;
    justify-content: space-around;
}
#contenido_texto_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 50%;
  padding: 0  20px 0 0;
}
#contenido_texto_main h1 {
  font-size: 50px;
  margin: 0 0 0 40px;
}
#contenido_texto_main p {
  font-size: 20px;
  margin: 0 0 0 40px;
}
@media only screen and (max-width: 500px) {
  #contenido_texto_main {
    width: 90%;
  }
  #contenido_texto_main h1 {
    margin: 0;
  }
  #contenido_texto_main p {
    margin: 0;
  }
}
#botones_main {
  margin: 30px 0 0 20px;
  display: flex;
  justify-content: flex-start;
}
#botones_main button {
  margin: 0 30px;
}
@media only screen and (max-width: 500px) {
  #botones_main {
    flex-direction: column;
    justify-content: space-around;
  }
  #botones_main button {
    margin: 10px 0;
  }
}
#contenido_img_main {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}
#contenido_img_main img {
  width: 95%;
}
@media only screen and (max-width: 500px) {
  #contenido_img_main {
    display: none;
  }
}
   /*End header*/

   /*Star aliados*/

.aliados_bg {
  background-color: #a6bdc7;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #a6bdc7 6px ), repeating-linear-gradient( #a5b37f55, #a5b37f );
  width: 100%;
  display: flex;
  justify-content: center;
}
.contenedor_aliados {
  width: 80%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
}
.contenedor_aliados div {
  width: 30%;
}
.contenedor_aliados div img{
  width: 100%;
  /*filter: grayscale();*/
}
.contenedor_aliados div img:hover {
  filter: none;
}
#egas {
  width: 50%;
  margin: 0 250px;
  height: 300px;
}
#panasonic {
  width: 40%;
  height: 256px;
}
#lenovo {
  width: 40%;
  height: 256px;
}
#petro {
  width: 40%;
  height: 200px;
}
#emen {
  width: 40%;
  height: 200px;
}
@media only screen and (max-width: 500px) {
  #egas {
    width: 30%;
    margin: 0 auto;
    height: 87px;
  }
  #panasonic {
    width: 30%;
    height: 87px;
  }
  #lenovo {
    width: 30%;
    height: 87px;
  }
  #petro {
    width: 30%;
    height: 87px;
  }
  #emen {
    width: 30%;
    height: 87px;
  }
}


   /*End aliados*/

/* Start contacto*/

.contenedor_contacto {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.contacto_izq {
  width: 70%;
  margin: 10px 30px;
}
.contacto_der {
  width: 30%;
  margin: 10px 30px;
}
@media only screen and (max-width: 500px) {
  .contenedor_contacto {
    flex-direction: column;
    width: 100%;
  }
  .contacto_izq {
    width: 90%;
    margin: 0 10px;
  }
  .contacto_der {
    width: 90%;
    margin: 0 10px;
  }
}
#mapa {
  width: 100%;
}
#contacto_rrss {
  font-size: 80px;
}
@media only screen and (max-width: 500px) {
  #contacto_rrss {
    font-size: 40px;
  }
}
/*End contacto*/

   /*Star Video*/

#video_container {
  height: 500px;
  display: flex;
  justify-content: center;

}
#video_container iframe {
  margin: 50px auto;
  box-shadow: 10px 10px 10px #999;
}
@media only screen and (max-width: 500px) {
  #video_container {
    height: 300px;
  }
  #video_container iframe {
      width: 300px;
      height: 176px;
    }
}

/*Software*/
.h2_soft {
  font-size: 40px;
}
.caja_software {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px 40px;
}
.cont_botones_soft {
  width: 35%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.boton_soft {
  background-color: #D9D9D9;
  width: 175px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  transition: 0.3s;
}
.boton_soft a {
  color: black;
}
.boton_soft:hover {
  background-color: #98c717;
}
.img_soft {
  width: 60%;
}
.img_soft img {
  width: 100%;
  border: solid 5px #194052;
}
#buno {
  background-color: #98c717;
  font-weight: bold;
}
.seccion {
  display: flex;
  flex-direction: column;
}
#uno_hard {
  margin-top: 30px;
}
#hard_sect {
  margin-top: 30px;
}
.seccion_soft {
  display: flex;
  justify-content: space-around;
}
.soft_img {
  width: 35%;
}
.soft_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.soft_img img {
  width: 100%;
}
#left_h2 {
  text-align: right;
  margin-left: 30px;
}
.egas_box {
  display: flex;
  justify-content: flex-end;
  height: 150px;
  overflow: visible;
}
.egas_box img {
  width: 13%;
}
/*Software*/

/*Start hardware*/

.muestratio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 0;
}

.caja_muestrario {
  width: 25%;
  background-color: white;
  border-radius: 4px;
  height: 400px;
  margin: auto;
  padding: 20px;
  transition: background-color .2s;
  box-shadow: 10px 10px 10px #999;
  margin-top: 20px;
}
.caja_muestrario_largo {
  width: 25%;
  background-color: white;
  border-radius: 4px;
  height: 700px;
  margin: auto;
  padding: 20px;
  transition: background-color .2s;
  box-shadow: 10px 10px 10px #999;
  margin-top: 20px;
}
.caja_muestrario:hover {
  border: solid 2px #183F51;
}
.caja_muestrario_largo:hover {
  border: solid 2px #183F51;
}
.img_muestrario {
  width: 100%;
  display: flex;
  justify-content: center;
}
.img_muestrario img {
  max-height: 180px;
}


/*End hardware*/

iframe {
  border: none;
  margin-bottom: 50px;
}

   /*Start About*/

#contenedor_tarjetas {
  height: 450px;
  display: flex;
}
@media only screen and (max-width: 500px) {
  #contenedor_tarjetas {
    height: 1000px;
    flex-direction: column;
  }
}
.tarjeta {
  background-color: #F2F2F2;
  border-radius: 4px;
  height: 300px;
  margin: auto;
  width: 25%;
  padding: 20px;
  transition: background-color .2s;
  box-shadow: 10px 10px 10px #999;
}
@media only screen and (max-width: 500px) {
  .tarjeta {
    height: 280px;
    margin-left: 10px;
    width: 80%;
  }
}
.tarjeta:hover {
  background-color: #183F51;
  color: white;
}

   /*End About*/

/* Separador */

.separador  {
  display: flex;
  justify-content: flex-end;
}

/* Separador */

   /*Start SERVICIOS*/

.servicio {
  height: 550px;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 500px) {
  .servicio {
    height: 700px;
  }
}
.servicio_b2b {
  display: flex;
  justify-content: space-around;
}
.contenido_img_servicios {
  width: 30%;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenido_img_servicios img {
  width: 100%;
  height: 50%;
  box-shadow: 10px 10px 10px #999;
}
@media only screen and (max-width: 500px) {
  .contenido_img_servicios {
    display: none;
  }
}
.contenido_img_servicios_b2b {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  .contenido_img_servicios_b2b {
    display: none;
  }
}
.contenido_img_servicios_b2b img {
  width: 100%;
}
#mision {
  display: flex;
  justify-content: space-around;
  margin: 0 0 20px 80px;
}
#blanc {
  width: 45%;
}
#texto_b2b {
  width: 55%;
}
.sep_vert {
  width: 10px;
  height: 80px;
  background-color: #98c717;
  margin: 0 10px;
}
.caja_texto_b2b {
  display: flex;
  justify-content: space-between;
}
.caja_texto_b2b cite {
  padding-right: 10px;
}
.bulets {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 0;
}
@media only screen and (max-width: 500px) {
  .bulets {
    width: 90%;
    margin: 20px auto;
  }
  .fil_bul {
    width: 100%;
  }
}
.fil_bul {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
}
.caja_bul {
  margin: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  .caja_bul {
    width: 25%;
  }
}
.circulo_ico {
  width: 50%;
}
.circulo_ico img {
  width: 80%;
}
.texto_bul p {
  display: flex;
  align-items: center;
}
.contenido_texto_servicios {
  width: 50%;
  padding-top: 20px;
}
@media only screen and (max-width: 500px) {
  .contenido_texto_servicios {
    width: 90%;
    padding-top: 0;
  }
  .contenido_texto_servicios .espacio {
    display: none;
  }
}
.contenido_texto_servicios h2 {
  font-size: 40px;
}
.contenido_texto_servicios P {
  font-size: 16px;
}
.espacio {
  height: 50px;
}
.decoration1 {
  background-color: #98c717;
  height: 2px;
  width: 200px;
}
.decoration2 {
  background-color: grey;
  height: 1px;
}
   /*End servicios*/

   /*Start numeros*/

#numeros {
  display: flex;
  justify-content:flex-start;
  padding: 30px;
  background-image: url("../img/Fondo_1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  height: 200px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 500px) {
  #numeros {
    display: none;
  }
}
.numero_numeros {
  margin: 0 10px 0 30px;
}
.texto_numeros {
  margin: 0 100px 0 10px;
}
.numero_numeros p {
  font-weight: bold;
  font-size: 40px;
  color: #98c717;
}
.texto_numeros p {
  font-size: 16px;
  color: white;
}

   /*End numeros*/

   /*Start tienda*/

#titulo_tienda {
  width: 80%;
  padding: 0 20px 0 80px;
}
.tienda {
  display: flex;
  justify-content: space-around;
  height: 600px;
  align-items: center;
}
.producto {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.img_producto {
  width: 100%;
}
.img_producto img {
  width: 100%;
}

   /*End tienda*/

   /*Start Redes*/

#redes {
  padding: 0 80px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  #redes {
    padding: 0 10px;
  }
}
#redes_cont {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#redes_cont a {
  color: #98c717;
}
#redes h2{
  font-size: 40px;
}
#contacto_rrss {
  font-size: 25px;
  font-weight: bold;
}
#redes a {
  color: #98c717;
}
#redes_sociales {
  display: flex;
  justify-content: center;
}
.red {
  font-size: 50px;
  margin: 0 20px;
}
.red i:hover {
  color: #194052;
}

   /*End Redes/*

   /*otros servicios*/

.display_os {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0;
}
.caja_os {
  width: 45%;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 500px) {
  .caja_os {
    width: 90%;
    flex-direction: column;
  }
}
.img_os {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_os img {
  width: 100%;
  margin: auto;
}
.texto_os {
  width: 50%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  .img_os {
    width: 90%;
  }
  .texto_os {
    width: 90%;
  }
}
#texto_especial {
  width: 25%;
  font-size: 18px;
}
.caja_os_largo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
@media only screen and (max-width: 500px) {
  .caja_os_largo {
    width: 90%;
    flex-direction: column;
    margin: auto;
  }
}
.img_os_largo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_os_largo img {
  width: 80%;
  margin: auto 20px;
}
.texto_os_largo {
  width: 50%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  .img_os_largo {
    width: 90%;
    margin: auto;
  }
  .texto_os_largo {
    width: 90%;
    margin: auto;
  }
}
.texto_os_largo h3 {
  text-align: center;
}
#extra {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  #extra {
    width: 100%;
  }
  #extra img {
    width: 100%;
  }
}

   /*otros servicios*/

   /*Start footer*/

footer {
  background-color: #183F51;
  display: flex;
  justify-content: space-around;
  padding: 0 50px 20px 0;
}
.columna_footer {
  width: 20%;
  color: white;
}
.columna_footer a {
  color: white;
}
@media only screen and (max-width: 500px) {
  #caja_twitter {
    display: none;
  }
  .columna_footer {
    width: 45%;
    color: white;
  }
  .columna_footer p {
    font-size: 12px;
  }
  .decoration1 {
    display: none;
  }
  .decoration2 {
    display: none;
  }
  #caja_facebook {
    display: none;
  }
  #non_movil {
    display: none;
  }
}
   /*End footer*/


#pie_pagina {
  text-align: center;
  font-size: 12px;
  color: white;
  background-color: #183f51;
  margin: 0;
  height: 50px;
}
#pie_pagina a {
  color: white;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
